.main-factToKnow {
  background: #010c3a;
}
.small-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #df0303;
}
.custom-hypen {
  color: #df0303;
}

.big-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: capitalize;
  color: #ffffff;
}

.fact-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
