.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Header area */
.main-menu a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #010c3a;
}
<<<<<<< HEAD

/* Banner area */
.banner-area {
  height: 680px;
}
=======
/* Features Area */
.features-area{
  font-family: "Inter", sans-serif, !important;
}
>>>>>>> 7dc8b2157b95c00ddfbdde5db7b1c2df0d8d2d37
