/* Header area */
.main-menu a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #010c3a;
}

.header-left p {
  margin-bottom: 0;
}

/* Navbar css for responsive */
.mobile-menu {
  z-index: 999;
}

.navbar-toggler {
  padding: 0.5rem;
  background: #010c3a;
  color: #fff;
  border: 0;
  font-size: 24px;
  height: 56px;
  width: 56px;
  text-align: center;
}

.navbar__menu {
  @apply flex flex-wrap items-center justify-between lg:flex-nowrap lg:justify-start;
}

.navbar-brand {
  @apply w-20;
}

.navbar-toggler {
  @apply p-2 lg:hidden;
}

.navbar-collapse {
  @apply lg:flex basis-auto items-center flex-grow hidden;
}

.navbar-collapsed {
  @apply basis-full grow items-center;
}

.navbar__nav {
  @apply flex flex-col lg:flex-row ml-auto items-center;
}

.nav-link {
  @apply px-5 lg:py-10 py-4 text-[#313131] text-lg font-normal rounded-sm hover:text-[#E91B25] block lg:inline-block relative before:absolute before:left-0 before:bottom-0 before:w-0 before:h-[3px] before:bg-[#E91B25] hover:before:w-full before:ease-out before:duration-300 before:transition-all;
}

.navbar-nav li div {
  @apply lg:inline-flex items-center lg:pl-3 block pl-0 text-center;
}

ul.navbar__nav > li {
  position: relative;
  padding: 22px 0;
}

ul.navbar__nav > li:last-child {
  margin-right: 0;
}

/* .customer-info p {
  color: #fff !important;
} */
.accept {
  background: #010c3a !important;
}
.accept:hover {
  background: #df0303 !important;
}

.heading {
  font-size: 22px !important;
}

ul.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #010c3a;
  min-width: 250px;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  transform-origin: top;
  transform-style: preserve-3d;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: all;
}

ul.navbar__nav li:hover > ul.submenu {
  padding: 10px 0;
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
  transition: all 300ms ease;
}

ul.submenu li {
  margin: 0;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

ul.submenu li:last-child {
  border: 0;
}

ul.submenu li a {
  color: #fff;
  /* position: relative; */
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  width: 100%;
  letter-spacing: 0;
  font-weight: 400;
  padding: 6px 0px;
  transition: 500ms;
  z-index: 1;
  padding: 6px 18px;
  transition: 0.3s;
}

ul.submenu li:hover a {
  color: #fff;
  background: #cf173c;
}
.disable-btn {
  background-color: #f3f3fe !important;
  color: #666666 !important;
}
.accent-btn {
  display: inline-block;
  padding: 0 12px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #010c3a !important;
  /* margin-left: 16px; */
  border-radius: 4px;
  transition: 0.3s;
}

.accent-btn:hover {
  background: #df0303;
}
.services-area a.sm-btn {
  width: 106px;
}
.accent-btn.search-btn {
  font-size: 20px;
  padding: 0 15px;
  font-weight: 500;
  margin-left: 16px;
}

.accent-btn.account-btn {
  font-weight: 500;
  margin-left: 16px;
}

.accent-btn.account-btn svg {
  font-size: 22px;
  margin-right: 4px;
}

.navbar-toggler.accent-btn svg {
  width: 100%;
}

.change-lang .chakra-select__wrapper.css-42b2qy {
  padding-left: 4px;
}

.change-lang .chakra-select.bg-none.lang-select.css-7p9xsp {
  color: #fff;
  padding: 0px 10px;
  width: 120px !important;
  border: none;
  font-size: 17px !important;
  height: auto;
}

.change-lang .chakra-select.bg-none.lang-select.css-7p9xsp option {
  color: #fff;
  background: #041c51;
  cursor: pointer;
}

.change-lang .chakra-select__icon-wrapper.css-iohxn1 {
  color: #fff;
  font-size: 26px;
}

.social-icon a:hover {
  color: #041c51;
}

/* Banner area */
.banner-area {
  height: 680px;
}

/* Fund & Donate */
@keyframes btnIconRipple {
  0% {
    border-width: 4px;
    transform: scale(1);
  }
  80% {
    border-width: 3px;
    transform: scale(2.35);
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;

    transform: translatey(-10px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
.in-down {
  animation-name: fadeInDown;
  animation-fill-mode: both;
  animation-duration: 2s;
}
.video-img p {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 6px solid #fff;
}
.video-img p::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border-radius: inherit;
  background: #df0303;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}
/*Account Opening Form  */
.from-select {
  border: 1px;
  box-shadow: none;
}

.header-top {
  position: relative;
  overflow: hidden;
  z-index: 999;
}

.header-top::before {
  content: "";
  width: 100%;
  right: -54%;
  top: 0;
  height: 100%;
  background: #df0303;
  z-index: -1;
  position: absolute;
  clip-path: polygon(50px 0, 100% 0%, 100% 100%, 0% 100%);
}

.from-area input:focus {
  outline: 1px solid #1973cc !important;
}

.from-area input#terms {
  height: 18px;
  width: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.from-area input[type="number"] {
  -moz-appearance: textfield;
}

.from-select {
  color: #57647e !important;
}

.file {
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  display: block;
}

.from-group input.chakra-input {
  height: 50px;
}

.from-group .chakra-input__left-element {
  height: 50px;
}

.cardImg-field {
  /* opacity: 0; */
  position: relative;
  height: 130px;
  background-image: url(./cardBg.png);
  width: 100%;
  cursor: pointer;
  z-index: 0;
}

.cardImg-field::before {
  /* content: "Browser File";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f6f6fc;
  color: "#333";
  z-index: 999;
  opacity: 999; */
  /* border-radius: 10px; */
}

.from-area {
  border-radius: 3px;
  box-shadow: 0 4px 4px rgb(87 100 126 / 21%);
}

input.border.none.cardImg-field.mb-2.mt-1.rounded.w-full.px-\[10px\] {
  height: 100px;
}

.from-group .chakra-select__icon-wrapper.css-iohxn1 {
  color: #7a736c;
  font-size: 24px;
  width: 26px;
}

/* Features Area */
.features-area {
  font-family: "Inter", sans-serif !important;
}

/* team ares css */

.slick-slide > div {
  margin: 0 10px;
}

/* .slick-list {
  margin: 0 -10px;
} */
/* .slick-dots li button {
  font-size: 20px;
} */
.slick-dots li button {
  font-size: 10px;
}

.slick-dots {
  bottom: -35px !important;
}

.slick-dots li.slick-active button {
  opacity: 0.75;
  color: #cf173c !important;
}

/* signup css */
.signup-icon {
  color: black !important;
}

.chakra-icon-sign {
  background: transparent !important;
  font-size: 22px !important;
  margin-top: 5px !important;
}

.react-tel-input .form-control {
  width: 100% !important;
  padding: 25px;
}

.react-tel-input .form-control {
  font-size: 15px !important;
}

/* dashboard */
.nav-toggle-btn {
  background: transparent !important;
  font-size: 20px !important;
}

.bg-transparent-nav {
  background-color: transparent !important;
  font-size: 20px !important;
}

.chakra-badge {
  font-size: 20px !important;
}

.send-btn {
  width: 100% !important;
}
@media screen and (max-width: 768px) {
  .right-side {
    width: 100% !important;
    margin-top: 75px !important;
  }
  .left-side .font-semibold {
    font-size: 50px !important;
  }
  .exchange-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .left-side {
    width: 100% !important;
  }
}
/* .css-hip9hq-MuiPaper-root-MuiAppBar-root */

/* .css-hip9hq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
} */

@media screen and (max-width: 599px) {
  .css-1bs77mf-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {
    margin-top: 54px;
  }
}

@media screen and (min-width: 600px) {
  .css-1mn6oro {
    width: 0px !important;
  }
}

@media screen and (max-width: 1440px) {
  .css-1mn6oro {
    width: 260px !important;
  }
}

@media screen and (max-width: 768px) {
  .css-1mn6oro {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .side-bar {
    left: 300px;
  }
}

@media screen and (max-width: 640px) {
  .side-nave {
    display: none;
  }
}

/* ----------banner -------------- */
.banner2 {
  color: white !important;
}
/* .slick-slide > div {
  margin: 0 !important;
} */
.slide-wrapper .slick-slide > div {
  margin: 0px !important;
}

.slick-dots .slick-active .ft-slick__dots--custom {
  top: -17px !important;
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -10px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 10px;
  height: 10px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/* Custom Slick Dots */

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.ft-slick__dots--custom {
  height: 3px;
  width: 14px;
  background-color: #e5e7e9;
  border-radius: 4px;
  position: relative;
}
.slick-dots .slick-active .ft-slick__dots--custom {
  background: #cf173c;
}
ul.slick-dots.bannner {
  bottom: 0 !important;
}
.slick-dots {
  bottom: -50px !important;
}
.slick-dots li {
  width: 14px;
  margin: 0 2px;
  transition: width 0.3s ease-in-out;
}

.slick-dots .slick-active {
  width: 56px;
  transition: width 0.3s ease-in-out;
}

.slick-dots .slick-active .ft-slick__dots--custom {
  width: 56px;
  top: 0px;
  overflow: hidden;
}
/* .loading {
  height: 8px;
  animation: loading 5s ease-in;
  background-image: linear-gradient(270deg, #4fd15a, #03ac0e);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
} */

.slider-dots {
  bottom: 25px !important;
}
/* ---------- banner -------------- */
/* --------- chat --------  */
.chat-avatar {
  align-items: center !important;
}
.link:hover {
  background: #cf173c;
  transition: 0.4s;
}

.activee:active {
  border-left: 2px solid #cf173c;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  width: 100%;
  padding: 0 5px;
  border-radius: 5px;
  background: #cf173c;
}

.dath {
  align-items: center !important;
}

/* exchange area */
.exchange-btn {
  margin-top: 15px !important;
}

/* @media screen and (max-width: 768) {
  .out {
    width: 100% !important;
    display: flex;
    justify-content: left;
  }
} */
/* @media (min-width: 600px)
.css-1mn6oro {
    width: 260px;
} */

@media screen and (max-width: 768px) {
  .css-ixaty2-MuiDrawer-docked .MuiDrawer-paper {
    display: none;
  }
}

#file {
  display: none;
}

.signup-photo {
  background: #010c3a;
  color: #fff;
  padding: 14px 20px;
  cursor: pointer;
  border-radius: 4px;
}

/* team details */
@media screen and (max-width: 768px) {
  .details {
    flex-direction: column;
  }

  .content-box {
    margin-top: 50px;
    margin-left: 0px !important;
    width: 100% !important;
  }

  .image-box {
    width: 100% !important;
  }

  .image-box img {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .title-icon-box {
    flex-direction: column;
  }
}

/* Banner section */

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.css-1idn90j-MuiGrid-root {
  text-align: center;
}

p.MuiTypography-root.MuiTypography-body1.title.css-vroal6-MuiTypography-root {
  text-align: center;
  display: block;
}

.banner-content h2.text-white {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  margin-left: 35px;
}

.banner-content p.text-white {
  font-size: 16px;
  line-height: 24px;
  margin-left: 40px;
}

.banner-content h3.text-white {
  margin-left: 40px;
}

.banner-content {
  padding-top: 60px;
}

/* =============================
===Responsive CSS starts here===
============================= */
/* XL/XXL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* LG Large Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Tablet Medium Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .header-top::before {
    clip-path: polygon(25px 0, 100% 0%, 100% 100%, 0% 100%);
  }

  ul.navbar__nav li {
    width: 100%;
    margin-right: 0;
  }

  ul.navbar__nav {
    background: #010c3a;
    color: #fff;
    padding: 20px;
    margin-top: 15px;
  }

  ul.navbar__nav > li {
    position: static;
  }

  ul.navbar__nav li:hover > ul.submenu {
    display: block;
    position: static;
  }

  ul.navbar__nav > li {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  ul.navbar__nav > li:last-child {
    border: 0;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  ul.navbar__nav {
    background: #010c3a;
    color: #fff;
    padding: 20px;
    margin-top: 15px;
  }

  /* Emi Calculator */
  .card-main {
    padding: 56px 30px !important;
  }

  .first-portion {
    display: block !important;
  }

  .second-portion {
    display: block !important;
  }

  .card-second {
    text-align: center;
  }

  .text {
    margin-top: 10px;
  }
  .card-body {
    width: 87%;
  }
}

/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header-top::before {
    clip-path: polygon(25px 0, 100% 0%, 100% 100%, 0% 100%);
  }

  .team-2 {
    margin-top: 170px;
  }

  .title-2 {
    top: 200px;
  }

  .main-header.py-\[38px\] {
    padding: 20px 0;
  }

  .banner-area.MuiBox-root.css-kvedgl {
    height: 430px;
  }

  /* apply credit card */
  .credit-card-wrap.flex.column-reverse.md\:flex-row.md\:flex-row.items-center {
    flex-direction: column-reverse;
  }

  .credit-card-img.mb-\[32px\].md\:mb-0.md\:mr-12 {
    margin-top: 50px;
  }

  ul.navbar__nav > li {
    position: static;
  }

  ul.navbar__nav li:hover > ul.submenu {
    display: block;
    position: static;
  }

  ul.navbar__nav > li {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  ul.navbar__nav > li:last-child {
    border: 0;
  }

  .main-header.relative {
    padding: 10px 0;
  }

  ul.navbar__nav {
    background: #010c3a;
    color: #fff;
    padding: 20px;
    margin-top: 15px;
  }

  .header-left p {
    margin-bottom: 0;
  }

  .banner-content h2.text-white.text-6xl {
    font-size: 32px;
    line-height: 40px;
    margin-left: 30px;
  }

  .banner-content h2.text-white.text-6xl br {
    display: none;
    margin-left: 30px;
  }

  .banner-content h3.text-white {
    margin-left: 30px;
  }

  .banner-content p.text-white {
    margin-left: 30px;
  }

  .slider-content {
    background: #ffffff;
    height: auto;
  }

  .card-main {
    width: auto !important;
  }

  .card-main input#curser {
    width: 100%;
  }

  /* Emi Calculator */
  .card-main {
    padding: 56px 30px !important;
  }

  .first-portion {
    display: block !important;
  }

  .second-portion {
    display: block !important;
  }

  .card-second {
    text-align: center;
  }

  .text {
    margin-top: 10px;
  }
  .card-body {
    width: 97%;
  }
}
