.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* team ares css */
.team {
  /* background-image: url('./assests/Team/Rectangle 9470.png'); */
  background: #FDF3F3;
  border-radius: 4px;
}
.icon {
  background: #010C3A;
  border-radius: 30px;
  color: #fff !important;
  padding: 10px;
}
.icon-box {
  display: none;
}
.team:hover .icon-box{
  display: inline-flex;
}
.team:hover{
  background-color: #DF0303;
  transition: all .4s;
}
.team:hover .title {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .team-2 {
    margin-top: 120px;
  }
  .title-2 {
    top: 200px;
  }
  
}

.icon:hover {
  background: #DF0303;
  color: #fff;
  transition: all .3s;
  width: 30px;
  height: 30px;
  pad: 8px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
