@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  font-family: "Inter", sans-serif !important;
=======
  font-family: "Inter", sans-serif, !important;
  
>>>>>>> 7dc8b2157b95c00ddfbdde5db7b1c2df0d8d2d37
}

code {
  font-family: "Inter", sans-serif, !important;
}
